{% extends 'core/base.html' %}
{% block content %}

<body>
    <h1>Fechar Chamado</h1>
    <ul>
        {% for chamado in chamados %}
        <li>

            <a href="/fechar/{{ forloop.counter0 }}/" class="btn btn-danger mt-2">Fechar Chamado</a>
            <form method="post" class="p-3 border rounded bg-light mt-2 mb-4">
            </form>
            {% csrf_token %}
            
            <input type="hidden" name="fechar_chamado" value="{{ forloop.counter0 }}">
        </li>

        {% endfor %}
    </ul>









    <p>{{ message }}</p>
</body>


{% endblock %}