{% extends 'core/base.html' %}
{% block fechar %}

<body>
    <h1>Fechar Chamado</h1>
    <ul>
        {% for chamado in chamados %}
        <li>


            <a href="/fechar/" class="btn btn-danger mt-2">Fechar Chamado</a>
            <form method="get"></form>

            <form method="post"></form>
            {% csrf_token %}


            <input type="hidden" name="fecharchamado">
        </li>

        {% endfor %}
    </ul>

</body>


{% endblock %}

excluir por que vai ser feito pelo listar