{% extends "core/base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Numero do Chamado</th>
            <th scope="col">Titulo do Chamado</th>
            <th scope="col">Opçoes</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <th>{{ categoria.id }}</th>
            <td>{{ categoria.nome }}</td>
            <td>
                <a href="{% url 'excluir_categoria' categoria.id %}" class="btn btn-danger btn-sm">Excluir</a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}