{% extends 'core/base.html' %}
{% csrf_token %}
{% block content %}

<h1 class="mb-4">📋 Listar Chamados</h1>
<b>{{ c.prioridade }}</b>


<ul class="list-group">

        {% for chamado in chamados %}
        <tr>
                <table class="listar">
                        <td>Setor: {{chamado.Setor }} </td>
                        <td>Problema: {{ chamado.problema }}
                        <td>
                        <td>Prioridade: {{chamado.prioridade }}
                        <td>
                                {% if chamado.prioridade == "Alta" %}
                                <span class="badge bg-danger">{{ chamado.prioridade }}</span>
                                {% elif chamado.prioridade == "Média" %}
                                <span class="badge bg-warning">{{ chamado.prioridade }}</span>
                                {% else %}
                                <span class="badge bg-primary">{{ chamado.prioridade }}</span>
                                {% endif %}
                        <td>
                        <td>Descrição: {{ chamado.descricao }}

                                {{ chamado.id }}
                        <td>


                        <td>
                                <a href="{% url 'Exibirfechar' chamado.id %}" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Tem certeza que deseja apagar?')">
                                        fecharchamado</a>
                        </td>
                </table>




                {% endfor %}

</ul>

{% endblock %}





<!-- <details>
        <summary>Instruções</summary>
        <p>Para criar um novo chamado, clique em "Novo Chamado" no menu principal.</p>
        <p>Para fechar um chamado existente, vá para a seção "Fechar Chamado" e selecione o chamado que deseja fechar.
        </p> -->