{% extends 'core/base.html' %}

{% block content %}

<div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
                <h4 class="mb-0"> Novo Chamado </h4>
        </div>

        <div class="card-body">
                <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                                <label class="form-label fw-bold">Setor:</label>
                                <input type="text" name="Setor" class="form-control" placeholder="Digite o Setor"
                                        required>
                        </div>

                        <div class="mb-3">
                                <label class="form-label fw-bold">Problema:</label>
                                <input type="text" name="descricao" class="form-control"
                                        placeholder="Descrição do Chamado" required>
                        </div>

                        <div class="mb-3">
                                <label class="form-label fw-bold">Prioridade:</label>
                                <select name="prioridade" class="form-select">
                                        <option value="Baixa">Baixa</option>
                                        <option value="Média" selected>Média</option>
                                        <option value="Alta">Alta</option>
                                </select>
                        </div>

                        <div class="d-grid">
                                <button type="submit" class="btn btn-success btn-lg">Salvar Chamado</button>
                        </div>
                </form>
        </div>
</div>

{% endblock %}